{
    "in_header": {
        "timestamp": 0,
        "asset": 4,
        "exchange": 1,
        "holder": 2,
        "transaction_type": 3,
        "spot_price": 6,
        "crypto_in": 5,
        "fiat_fee": 8,
        "fiat_in_no_fee": 10,
        "fiat_in_with_fee": 9,
        "unique_id": 11,
        "notes": 12
    },

    "out_header": {
        "timestamp": 0,
        "asset": 4,
        "exchange": 1,
        "holder": 2,
        "transaction_type": 3,
        "spot_price": 6,
        "crypto_out_no_fee": 5,
        "crypto_fee": 7,
        "unique_id": 11,
        "notes": 12
    },

    "intra_header": {
        "timestamp": 0,
        "asset": 4,
        "from_exchange": 1,
        "from_holder": 2,
        "to_exchange": 9,
        "to_holder": 2,
        "spot_price": 6,
        "crypto_sent": 5,
        "crypto_received": 7,
        "unique_id": 11,
        "notes": 12
    },

    "assets": [
        "ETH"
    ],
    "exchanges": [
        "Coinbase",
        "Kraken"
    ],
    "holders": [
        "self"
    ]
}
